*{
    text-align: center;
    font-size: 36px;
}

.mb-20{
    margin-bottom: 20px;
}

.title h1{
    font-size: 60px;
}

.startButton{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
}

.startButton:hover{
    opacity: 0.7;
}

.clear{
    color: skyblue;
}

.enter{
    border: none;
    outline: none;
}

.enterWrapper{
    border-bottom: 2px solid gray;
}

.gauge{
    height: 12px;
    transition: all .3s ease;
}

.gaugeWrapper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    height: 12px;
}
